/*Header Section*/
.header-flex-box{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;   
}


.title-text{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
    flex: 5;
    text-align: center;
}
.subscribe-link{
    flex: 1;
    text-align: left;
}
.search-icon{
    flex: 1;
    text-align: right;
}